---
import Base from "../layouts/main.astro";
---

<Base title="123">
  <div class="mx-7">
    <div class=""></div>
    <p class="py-12 text-6xl md:text-7xl text-indigo-400 title">Wolf Yuan</p>
    <p class="text-3xl">Student Dev</p>
  </div>
</Base>
