---
import "../styles/index.css";
import Nav from "../components/Nav.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="max-w-4xl bg-gray-800 text-white mx-auto my-0">
    <Nav />
    <slot />
  </body>
</html>
